
/****************************
*Order Page
*****************************/

.header-title {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.header-title h2 {
    color: #575757;
    text-align: center;
}

.content-main {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#form-personal-information {
    border-bottom: 1px solid #383838;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/****************************
*Order Confirm Page
*****************************/

#border-line {
    border-bottom: 1px solid #383838;
    margin-bottom: 0px;
}

#toppings-chosen {
    margin-bottom: 0px;
}